<style>
.minesweepers-container {

}
.grid {
	display: table-cell;
	border-collapse:collapse;
	float: left;
	border: solid 1px;
	height: 40px;
	width: 40px;
	background: #cccccc;
}

.save-zone {
	background: #fff !important;
}

.bomb {
	background: red;
}

.flag {	
	background: #ccc url('http://therealmofcode.com/games/minesweeper/images/flag.png') no-repeat center !important;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}
</style>

<div id="ms-container" class="minesweeper-container" oncontextmenu="return false;"></div>