<style>
.minesweepers-container {

}
.grid {
	display: table-cell;
	border-collapse:collapse;
	float: left;
	border: solid 1px;
	height: 40px;
	width: 40px;
}
.clear {
	clear: both;
}
</style>

<div id="ms-container" class="minesweeper-container"></div>